.gitsecret/keys/random_seed
confidential/.bitbucket
confidential/.gist
confidential/.gitcredentials
confidential/.ssh/config
confidential/.aws/config 
confidential/.aws/credentials
confidential/.smbcredentials
