#!/usr/bin/env bash

# SYSTEM & NAVIGATION
alias fhere="find . -name "
alias mktar="tar -pvczf"
alias untar="tar -zxvf"
alias ll="ls -l"
alias la="ls -al"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias .......="cd ../../../../../.."

# SHORTS
alias g="git"
alias b="brew"
alias e="$VISUAL"
alias v="vim"
alias c="code"
alias t="tmux"
alias tf="terraform"
alias k="kubectl"
alias j="jobs"
alias h="history"
alias p="cd ~/Projects"
alias d="cd ~/Downloads"
alias f="fuck"

# DOTFILES (edit)
alias ea="$EDITOR ~/.aliases"
alias ee="$EDITOR ~/.exports"
alias ebp="$EDITOR ~/.bash_profile"
alias efc="$EDITOR ~/.config/fish/config.fish"
alias eff="$EDITOR ~/.config/fish/fishfile"
alias egc="$EDITOR ~/.gitconfig"

# SAFE REMOVAL OF FILES
alias nuke="shred --remove --force --verbose --zero --iterations=10"

# CHECKING
alias check_ip="tput setaf 2; curl ipinfo.io/ip"
alias check_ip_local="tput setaf 2; ipconfig getifaddr en0"
